@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');

.gallery-item {
    margin: 5px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Default grid for smaller screens */
    gap: 8px; /* Add spacing between items */
}

/* For medium devices (e.g., tablets) */
@media (min-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    }
}

/* For large devices (e.g., laptops/desktops) */
@media (min-width: 900px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
    }
}

/* For extra-large devices (e.g., large desktops) */
@media (min-width: 1200px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columns on extra-large screens */
    }
}